<form class="login-form" {{action "login" on="submit"}}>
  <div class="login-form-name">
    <label>Username</label>
    {{input value=nickname placeholder="john.doe"}}
  </div>
  <div class="login-form-password">
    <label>Password</label>
    {{input value=password type="password"}}
  </div>
	<div class="feedback-message">
		{{#if loading}}
			<span class="loading">Verifying credentials</span>
		{{/if}}
		{{#if errorMessage}}
			<span class="error-message">{{errorMessage}}</span>
		{{/if}}
	</div>
	
  <button disabled={{loading}}>Login</button>
</form>
