<h2 id="title">Welcome to Ember</h2>

{{outlet}}

{{mu-login}}

{{#if session.isAuthenticated}}
  {{debugger}}
  You're in!
  {{else}}
  {{debugger}}
  You're out :(
{{/if}}

{{#if session}}
  {{debugger}}
{{/if}}